<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Generator</title>
    <link rel="icon" type="image/x-icon"
        href="https://store.webkul.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/k/akeneo-product-pdf-generator-webkul.png">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/logic.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>

    <div class="parent-container">
        <h1>INVOICE GENERATOR</h1>
        <div class="tophead">
            <form>
                {% csrf_token %}
                <label for="Consignee">Consignee:</label>
                <input type="text" id="Consignee" name="Consignee">
                <label for="Dest">Dest.</label>
                <input type="text" id="Dest" name="Dest">
                <label for="Weight">Weight:</label>
                <input type="text" id="Weight" name="Weight">
                <label for="Amount">Amount:</label>
                <input type="text" id="Amount" name="Amount">
                <input type="button" value="Add" onclick="addRow()">
            </form>
        </div>
    </div>
    <div class="table-container">
        <table class="center" id="mytable">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Date</th>
                    <th>Consignee</th>
                    <th>Dest.</th>
                    <th>Weight</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody id="tablebody">
                {% for i in bills %}
                <tr>
                    <td>{{ i.sno}}</td>
                    <td contenteditable="true">{{ i.date}}</td>
                    <td contenteditable="true">{{ i.consignee}}</td>
                    <td contenteditable="true">{{ i.destination}}</td>
                    <td contenteditable="true">{{ i.weight}}</td>
                    <td contenteditable="true">{{ i.amount}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td id="total-amount">{{ total}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="button-container">
        <button id="btn2" onclick="deleteRow()">Delete</button>
        <button id="btn3" onclick="createPDF()">Create PDF</button>
    </div>
    <div class="button-container2">
        <button id='btn4' onclick="savechanges()">Save Changes</button>
        <a href="/download">
    </div>

</body>

</html>